@model DataTransfer.EmployeePutRequest

@{
    ViewData["Title"] = "Edit Profile";
    BusinessObjects.Employee emp = ViewData["Employee"] as BusinessObjects.Employee;
    String Role = Context.Session.GetString("ROLE");
}

<h1>Edit profile</h1>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">@ViewData["ErrorMessage"]</div>
}
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">@ViewData["SuccessMessage"]</div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeID" value=@emp.EmployeeID />
            <div class="form-group mb-2">
                <label asp-for="FullName" class="control-label mb-1">Full name</label>
                <input asp-for="FullName" class="form-control" value=@emp.FullName />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="EmailAddress" class="control-label mb-1">Email</label>
                <input asp-for="EmailAddress" class="form-control" value=@emp.EmailAddress type="email" readonly />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Skills" class="control-label mb-1"></label>
                <input asp-for="Skills" class="form-control" value=@emp.Skills />
                <span asp-validation-for="Skills" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Telephone" class="control-label mb-1"></label>
                <input asp-for="Telephone" class="form-control" value=@emp.Telephone />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Address" class="control-label mb-1"></label>
                <input asp-for="Address" class="form-control" value=@emp.Address />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Password" class="control-label mb-1"></label>
                <input asp-for="Password" class="form-control" value=@emp.Password type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            @if(Role == "Admin")
            {
                <div class="form-group mb-2">
                    <label asp-for="DepartmentID" class="control-label mb-1">Department</label>
                    <select asp-for="DepartmentID" class="form-control">
                        @foreach (var item in (List<BusinessObjects.Department>)ViewData["listDepartments"])
                        {
                            <option value="@item.DepartmentID">@item.DepartmentName</option>
                        }
                    </select>
                </div>
            } else
            {
                <div class="form-group mb-2">
                    <label asp-for="DepartmentID" class="control-label mb-1">Department</label>
                    <input type="hidden" asp-for="DepartmentID" value=@emp.DepartmentID />
                    <label asp-for="DepartmentID" class="form-control">@emp.Department.DepartmentName</label>
                </div>
            }
            <div class="form-group mb-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Profile">Back to profile</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
